html {
  line-height: 1.5rem;
  font-family: Georgia;
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dcd4cd;
  border-radius: 3px;
  border-color: #9a816d;
  padding: .4em .75em .5em;
  text-decoration: none;
  color: #512200;
  position: absolute;
}

.link-card {
  text-decoration: none;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #512200;
}

p {
  text-decoration: none;
  font-size: 1rem;
  color: #512200;
  margin: 0;
}

footer {
  font-weight: bold;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  color: #fff;
  background-color: #785439;
  border-radius: 8px;
  border-width: 3px;
  text-align: center;
  display: inline-block;
}

dt {
  text-decoration: none;
  text-align: left;
  display: inline;
  font-size: .875rem;
  color: #512200;
}

dd {
  font-style: italic;
  text-align: right;
  display: inline;
  font-size: .875rem;
  color: #512200;
}
