html {
  line-height: 1.5;
  font-family: Georgia;
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  background-color: #dcd4cd;
  border-radius: 3px;
  border-color: #9a816d;
  padding: 1em;
  color: #512200;
  display: block;
  border-width: 3px;
  border-style: solid;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #512200;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  text-decoration: none;
  font-size: 1rem;
  color: #512200;
  margin: 0;
}

footer {
  text-align: center;
}

.btn {
  font-weight: bold;
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
  color: #fff;
  background-color: #785439;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .5em;
  display: inline-block;

}

.list {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding: 1em 0;
}

dt {
  text-decoration: none;
  text-align: left;
  display: inline-block;
  font-size: .875rem;
  color: #512200;
  width: 45%;
}

dd {
  font-style: italic;
  display: inline-block;
  font-size: .875rem;
  color: #512200;
  width: 45%;
  margin: 0;
}
